*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height:400px;
  background-color: azure;

}
form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2px;
  padding:20px;
  background-color: rgb(128, 141, 141);
}
form:hover{
  box-shadow:0px 0px 10px greenyellow;
}

input{
  height:30px;
  padding:5px;
  margin:10px;
  font-size:14px;
  font-weight: 540;
  border-radius: 3px;
  border:none;
}
h1{
  color:rgb(23, 7, 37);
  font-size:25px;
}

button{
  color:white;
  background-color: blue;
  height:35px;
  width: 60px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}